{% extends 'base.html' %}
{% block content %}
</ul>
<div class="dropdown" style="padding-right: 5%;">
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" style="width: 120%; padding-right: 100%;">hi {{ user.username}}</button>
    <ul class="dropdown-menu" style="background-color:rgb(8, 218, 242); width: 10%;">
      <li><a class="dropdown-item" href="{% url 'logout' %}">
      <li>log out</li></a></li>
      <li><a class="dropdown-item" href="{% url 'edit_food_menu' %}">edit food menu</a></li>
      <li><a class="dropdown-item" href="{% url 'order_food' %}">order food</a></li>
    </ul>
    {% else %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">log in or sign in</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'login' %}">log in</a></li>
      <li><a class="dropdown-item" href="accounts/signup">sign in</a></li>
    </ul>
    {% endif %}
  </div>
</div></nav>
<br>
<div class="container" style="color:rgb(8, 218, 242); padding:100px 20px;">
    <h1>Edit food item</h1>
    <form action="Update_food_success" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{id}}" maxlength="400" required >   
    <p>
        <label >Fname:</label>
        <input type="text" name="fname" value="{{fname}}" maxlength="400" required >   
    </p>
    <p>
        <label >Category:</label>
        <select name="category" required >
      <option value="" selected>---------</option>
    
      <option value="JUICE" >JUICE SPLASH</option>
    
      <option value="LIME">LIME REFRESHER</option>
    
      <option value="SCOOPS">SCOOPS</option>
    
      <option value="ICE">ICE CREAM CHAT</option>
    
      <option value="AVIL">AVIL MILK</option>
    
      <option value="SHAKES">SHAKES</option>
    
      <option value="BURGER">BURGER</option>
    
      <option value="SANDWICH">SANDWICH</option>
    
      <option value="FRENCH">FRENCH FRIES &amp; NUGGETS</option>
    
      <option value="HOT">HOT SPOT</option>
    
      <option value="MANDHI">MANDHI</option>
    
      <option value="ALFAHAM">AL FAHAM</option>
    
      <option value="CURRYFRY">CURRY &amp; FRY</option>
    
      <option value="VEG">VEG</option>
    
      <option value="CHICKENCHINESE">CHICKEN CHINESE &amp; NORTH INDIAN</option>
    
      <option value="BEEF">BEEF</option>
    
    </select>
      </p>
      <p>
        <label>Fp:</label>
        <input type="number" name="fp" value="{{fp}}" >  
      </p>
    <input type="submit" value="Update">
    </form>
</div>
{% endblock content %}